.toast-wrap {
  position: fixed;
  top: 40px;
  right: 100px;
  width: 250px;
  transition: transform .5s;
}

.toast-wrap-top {
  transform: translateY(-200%);
}

.toast-wrap-right {
  transform: translateX(200%);
}

.toast > p:last-child {
  margin-bottom: 0;
}

.table {
  table-layout: fixed;
  word-break: break-word;
}
