<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<title>Dirid</title>
<link href="//cdn.bootcss.com/spectre.css/0.2.14/spectre.min.css" rel="stylesheet">
<link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
</div>
<div class="container grid-960">
<div class="columns">
  <div class="column">
    <header class="navbar">
      <section class="navbar-section">
        <a class="navbar-brand" href="/">Dirid</a>
      </section>
      <section class="navbar-section">
        &copy; Gerald 2017
      </section>
    </header>
  </div>
</div>
<ul class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/">List</a>
  </li>
  {% block breadcrumbs %}{% endblock %}
</ul>
{% block body %}{% endblock %}
</div>
</body>
</html>
