{% extends 'base.html' %}

{% block breadcrumbs %}
<li class="breadcrumb-item">Detail [{{model.id}}]</li>
{% endblock %}

{% block body %}
<div class="container">
  <a class="btn" href="/~/{{ model.id }}/edit">
    <i class="fa fa-pencil"></i>
  </a>
  <a class="btn" href="/{{ model.slug }}">
    <i class="fa fa-external-link"></i>
  </a>
</div>
<ul>
  <li>Name: <div class="label">{{ model.name }}</div></li>
  <li>Slug: <div class="label">{{ model.slug }}</div></li>
  <li>Detail: <div class="label">{{ model.data }}</div></li>
  <li>Visit times: <div class="label label-success">{{ model.visit_times }}</div></li>
</ul>
{% endblock %}
