{% extends 'base.html' %}

{% block breadcrumbs %}
<li class="breadcrumb-item">
  {% if model.id !== 'NEW' %}<a href="/~/{{model.id}}">{% endif %}
  Detail [{{model.id}}]
  {% if model.id !== 'NEW' %}</a>{% endif %}
</li>
<li class="breadcrumb-item">Edit</li>
{% endblock %}

{% block body %}
<div class="container">
  {% if errors.data.length %}
  <div class="toast toast-error">{{ errors.data.join(' ') }}</div>
  {% endif %}
  <form class="form-horizontal" method="post">
    {% for field in fields %}
    <div class="form-group">
      <div class="col-3"><label>{{ field.title }}:</label></div>
      <div class="col-9">
        {% if field.modifiable -%}
        <input class="form-input{{ ' is-error' if errors.fields[field.key] else '' }}" name="{{ field.key }}" value="{{ model[field.key] }}">
        {% else -%}
        <div class="form-input disabled">{{ model[field.key] }}</div>
        {% endif -%}
      </div>
    </div>
    {% endfor %}
    <div class="form-group">
      <div class="col-3"></div>
      <div class="col-9">
        <button class="btn btn-primary" type="submit">OK</button>
        <a class="btn btn-link" href="/{% if model.id !== 'NEW' %}~/{{ model.id }}{% endif %}">Cancel</a>
      </div>
    </div>
  </form>
</div>
{% endblock %}
