{% extends 'base.html' %}

{% block body %}
<div class="container">
  <a class="btn btn-primary" href="/~/new"><i class="fa fa-plus"></i></a>
</div>
<table class="table">
  <cols>
    <col width="60">
    <col width="120">
    <col width="120">
    <col>
    <col width="100">
    <col width="160">
  </cols>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Slug</th>
    <th>Detail</th>
    <th>Visit times</th>
    <th></th>
  </tr>
  {% for item in items %}
  <tr>
    <td>{{ item.id }}</td>
    <td>{{ item.name }}</td>
    <td>{{ item.slug }}</td>
    <td>{{ item.data }}</td>
    <td>{{ item.visit_times }}</td>
    <td>
      <a class="btn btn-primary" href="/~/{{ item.id }}">
				<i class="fa fa-arrows-alt"></i>
			</a>
      <a class="btn" href="/{{ item.slug }}">
        <i class="fa fa-external-link"></i>
      </a>
      <a class="btn" href="/~/{{ item.id }}/edit">
        <i class="fa fa-pencil"></i>
      </a>
      {#
      <a class="btn">
        <i class="fa fa-trash"></i>
      </a>
      #}
    </td>
  </tr>
  {% endfor %}
</table>

{% if pages %}
{% import 'utils.html' as utils %}
{{ utils.paginator(pages) }}
{% endif %}

<link rel="stylesheet" href="/static/css/poll.css">
<script src="/static/js/poll.js"></script>
{% endblock %}
