{% macro paginator(pages) %}
<ul class="pagination">
  {% for item in pages %}
  <li class="page-item{{ item.active ? ' active' : '' }}">
    {% if item.url -%}
    <a href="{{ item.url }}"{{ item.disabled ? ' disabled' : '' }}>{{ item.title }}</a>
    {% else -%}
    <span>{{ item.title }}</span>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endmacro %}
